/* petits écrans*/
@media (max-width: 700px){
    .table thead {
    display: none;
    }
    .table tr{
    display: block;
    margin-bottom: 40px;
    }
    .table td {
    display: block;
    text-align: left;
    }
    .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    }
    .bloc1 {
        display: flex;
        flex-direction: column;
    }
    .chakra {
        max-height: fit-content;
    }

}


    
/* autres écrans*/        
    
.accordion-button, .accordion-body {
        color: rgb(198,96,238);  
    }
    

.eventail {
        color: rgb(198,96,238);  
    }
    
    
.lead {
        color: rgb(198,96,238); 
    }

body {
    width: 100%;
    margin: 0;
}

header {
    background-color: rgb(198,96,238);
}


h1 {
    text-align: center;
    color: white;
    border: white;
    border-width: 10px;
    border-style:solid;
}

h2 {
    text-align: center;
    color: rgb(198,96,238);
    border: rgb(198,96,238);
    border-width: 10px;
    border-style: solid;
}

h3 {
    text-align: center;
    color: rgb(198,96,238);
}

.contact, .event, .bloc1, .bloc2 {
    border: rgb(198,96,238);
    border-width: 10px;
    border-style: solid;
    margin-bottom: 5px;
}

