/* petits écrans*/
@media (max-width: 420px){
    .table thead {
    display: none;
    
    }
    .table tr{
    display: block;
    margin-bottom: 40px;
    }
    .table td {
    display: block;
    text-align: left;
    }
    .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    }
    .bloc1, .bloc2 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .chakra {
        max-height: fit-content;
    }
    
}


/* autres écrans*/        
    
.accordion-button, .accordion-body {
        color: #8064A2;  
    }
    

.eventail {
        color: #8064A2;  
    }
    
    
.lead {
        color: #8064A2; 
    }

body, footer {
    
    margin: 0;
}

header {
    background-color: #8064A2;
}

h1 {
    text-align: center;
    color: white;
    border: white;
    border-width: 10px;
    border-style:solid;
}

h2 {
    text-align: center;
    color: #8064A2;
    border: #8064A2;
    border-width: 10px;
    border-style: solid;
}


h3, h4, .card-body {
    text-align: center;
    color: #8064A2;
}
@media (max-width: 420px){
    h3, h4 { font-size: 5px;}
}
.contact, .event, .bloc1, .bloc2, footer {
    border: #8064A2;
    border-width: 10px;
    border-style: solid;
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #8064A2;
    border-color: #8064A2;
}

