body {
    width: 100%;
}

header {
    background-color: rgb(198,96,238);
}


h1 {
    text-align: center;
    color: white;
    border: white;
    border-width: 10px;
    border-style:solid;
}

h2 {
    text-align: center;
    color: rgb(198,96,238);
    border: rgb(198,96,238);
    border-width: 10px;
    border-style: solid;
}

.accordion-button, .accordion-body {
    color: rgb(198,96,238);  
}

.formulaire {
    border: rgb(198,96,238);
    border-width: 10px;
    border-style: solid;
}
